.sec-index{
	position: relative;
}
.header{
	height: 45px;
	line-height: 45px;
	background-color: #008B8B;
	color: #fff;
	text-align: center;
}
.content{
	margin: 40px 0 60px 0;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background : url(../img/bg.jpg) no-repeat;
	background-size: cover;
	background-position: center;
}
.footer{
	text-align: center;
	position: fixed;
	bottom: 20px;
	width: 100%;
}
.footer button{
	width: 80%;
	height: 45px;
	border-radius: 3px;
	text-align:center;
	background-color: #008B8B;
	color: #fff;
	border: none;
}
